# /etc/systemd/system/fyp-scheduler.service
[Unit]
Description=FYP Honeypot Report Scheduler
After=network.target

[Service]
User=www-data
WorkingDirectory=/opt/fyp-honeypot
Environment="PATH=/opt/fyp-honeypot/venv/bin"
ExecStart=/opt/fyp-honeypot/venv/bin/python3 cron_task.py
Restart=always

[Install]
WantedBy=multi-user.target
